.tabs{
    background: linear-gradient(0deg, #2D9CDB, #2D9CDB), #FFFFFF !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px !important;
    width: 7rem !important;
    color: #ffff !important;
    padding-left: 2rem;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #4F4F4F;
    margin-left: -8px;
    margin-right: 6rem;
}

.search{
  background: #2F80ED;
  height: 31px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin-left: -10px;
  width: 81px !important;
  border-radius: 5px;
  margin-top:14px;
  cursor: pointer;
  margin-right: 6px;
}


@media (min-width: 320px) and (max-width: 812px) {
    .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #4F4F4F;
        margin-left: -8px;
        margin-right: 2rem;
    }    
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #4F4F4F;
        margin-left: 2px;
        margin-right: 8rem;
    }  
  }
  @media (min-width: 217px) and (max-width: 507px) {
    .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #4F4F4F;
        margin-left: 2px;
        margin-right: 4rem;
    }  
  }
  @media (min-width: 320px) and (max-width: 568px) {
    .nav-link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #4F4F4F;
        margin-left: -8px;
        margin-right: 1rem;
    }  
  }