
 <!-- <main [ngClass]="{'py-0 px-0 my-0 mx-0': specialPage}">

    <div>
        <app-navigation></app-navigation>
        <router-outlet></router-outlet>
    </div>
</main>  -->
    <app-navigation ></app-navigation>
    <main>
        <div style="margin-top: 4rem">
                    <router-outlet></router-outlet>
                  </div>
    </main>

   <app-footer></app-footer>