
<div class="row">
        <div class="col-md-6">
                <div class="row">
                        <div class="col-12">
                                <!-- first card -->
                                <label class="summary-total-trans">Today</label>
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <div class="pull-right" [ngClass]="{
                                                          'positive' : percentChange > 0,
                                                           'negative' : percentChange < 0
                                                         }">{{ percentChange  | percent }}</div>
                                                <div class="total-percent mt-3">Vs Previous Day</div>
                                                <p class="summary-total-trans">Total Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{totalAmountCurrent | thousandSuff : 2}}</div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{ totalCountCurrent | thousandSuff }}
                                                                <br> Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>
                                </div>

                                <!-- first card -->
                        </div>
                </div>

                <div class="row mt-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <div class="pull-right summary-successful">
                                                        {{successPercentCurrent  }}%
                                                </div>
                                                <p class="summary-card-text">Successful Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{successAmountCurrent | thousandSuff : 2}}
                                                        </div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{successCountCurrent | thousandSuff }}
                                                                <br> Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>
                                </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <div class="pull-right summary-failed">
                                                        {{failPercentCurrent }}%
                                                </div>
                                                <p class="summary-card-text">Failed Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{failAmountCurrent | thousandSuff : 2 }}</div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{failCountCurrent | thousandSuff }}
                                                                <br> Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>
        <div class="col-md-6">
                <div class="row">
                        <div class="col-12">
                                <!-- first card -->
                                <label class="summary-total-trans">Yesterday</label>
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <p class="summary-total-trans">Total Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{previousTotal | thousandSuff : 2 }}</div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{ totalCountPrevious | thousandSuff }}
                                                                <br> Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>
                                </div>

                                <!-- first card -->
                        </div>
                </div>
                <!--  -->
                <div class="row mt-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <div class="pull-right summary-successful">
                                                        {{previousPercentSuccess }}%
                                                </div>
                                                <p class="summary-card-text">Successful Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{previousAmountSuccess | thousandSuff : 2}}
                                                        </div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{previousCountSuccess | thousandSuff }}
                                                                <br>Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>
                                </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="card classic-admin-card">
                                        <div class="card-body">
                                                <div class="pull-right summary-failed">
                                                        {{previousPercentFailed | toNumber | number:'1.0-0'}}%
                                                </div>
                                                <p class="summary-card-text">Failed Transactions</p> <br>
                                                <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
                                                </mdb-spinner>
                                                <h4 *ngIf="loading == false">
                                                        <div *ngIf="isData == true" class="summary-amount">
                                                                &#x20A6;{{previousAmountFailed | thousandSuff : 2 }}
                                                        </div>
                                                        <p *ngIf="isData == true" class="summary-card-text">
                                                                {{previousCountFailed | thousandSuff }}
                                                                <br>Transactions</p>
                                                </h4>
                                                <strong class="summary-noData" *ngIf="isData == false">No Data
                                                        Available</strong>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>
</div>