<div *ngIf="isAuthenticated()">
    <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-dark ie-nav"
        [containerInside]="false">

        <mdb-navbar-brand>
            <img src="./assets/kedco.png" style="width: 78px; height: 30px; padding-left: 16px;">
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li *appHasRole="['user','admin']" class="nav-item dropdown nav-body" routerLinkActive="active" dropdown>
                   <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Dashboard<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin-dashboard/kedco/day']">Kedco</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/admin-dashboard/day']">Agency</a>
                    </div>

               </li>
                <li class="nav-item dropdown nav-body" routerLinkActive="active" dropdown>
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect>
                        Report<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect
                            [routerLink]="['/transaction/details']">Transactions</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect
                            [routerLink]="['/transaction/summary/report']">Summary Report</a>
                            <a class="dropdown-item waves-light" mdbWavesEffect
                            [routerLink]="['/transaction/remittance']">Remittance Report</a>
                        
                    </div>
                
                </li>
            </ul>

            <ul class="navbar-nav nav-flex-icons">
                <li *appHasRole="['admin']" class="nav-item dropdown nav-body" dropdown routerLinkActive="active">
                    <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                        mdbWavesEffect> Admin<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/register']">Create User</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users']">View Users</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users']">Reverse Transaction</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/users']">Terminals</a>
                    </div>
                </li>
                <li class="nav-item dropdown btn-group" dropdown >
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light nav-body-dropdown"
                        mdbWavesEffect>
                       Hello, {{ userDisplayName }}&nbsp; 
                        <!-- Hi {{authService.decodedToken.name}} -->
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a (click)="logout()" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</div>