<div class="container">
  <label>Kedco User Management Module</label>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <mdb-icon fas icon="search"></mdb-icon>
            </div>
          </div>
          <input type="text" class="form-control"
           name="searchString" placeholder="Search users..."
            [(ngModel)]="searchString">
        </div>   
    </div>
  
    <div class="card mt-1">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" small="true">
            <thead class="trans-head">
              <tr>
                <th class="head" *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
            <tbody>
              <mdb-spinner class="loading-icon" *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <tr *ngFor="let item of users | filter : 'name' : searchString; let i = index">
                <th scope="row">{{serial + i}}</th>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.staff_id}}</td>
                <td>{{item.role}}</td>
                <td>{{item.region}}</td>
                <td>{{item.type}}</td>
                <td>{{item.status}}</td>
                <td>{{item.created_at}}</td>
                <td>
                    <mdb-badge class="edit" (click)="openModal(item)">EDIT USER</mdb-badge>
                    <mdb-badge class="deactivate" (click)="openModal(item)">DEACTIVATE</mdb-badge><br>
                </td>
              </tr>
              <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
            </tbody>
          </table>
          <pagination [boundaryLinks]="true" [totalItems]="lastPage" [itemsPerPage]="perPage" [(ngModel)]="currentPage"
            [maxSize]="maxSize" (pageChanged)="pageChanged($event)" firstText="&laquo;" lastText="&raquo;"></pagination>

            <!-- <ng-template #updateSampleModal>
              <div class="modal-header">
                  <h4 class="modal-title pull-left">Update Username: {{ item.name }}</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form class="needs-validation" #editForm="ngForm" (ngSubmit)="update(item)" id="editForm" novalidate>
                    <div class="row">
                      <div class="col-lg-6">
                          <input id="id" type="text" class="form-control" 
                          [(ngModel)]="item.username" name="id" #id="ngModel">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12 text-right">
                        <button class="btn btn-primary btn-lg" type="submit" [disabled]="!editForm.valid" form="editForm">Save Data</button>
                      </div>
                    </div>
          
                  </form>
                
              </div>
          </ng-template> -->

        </div>
        <br>
      </div>
    </div>

  </div>
</div>