<div class="container">
  <label>Remittance Report</label>
   <br>

  <!-- filter -->
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: -15px;">
        <mdb-date-picker formControlName="startDate" id="startDate" placeholder="Start Date"
          [options]="myDatePickerOptions"></mdb-date-picker>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: -15px;">
        <mdb-date-picker formControlName="endDate" id="endDate" placeholder="End Date" [options]="myDatePickerOptions">
        </mdb-date-picker>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <select class="browser-default custom-select" (change)="getRegion($event)" formControlName="method">
              <option value="">Region</option>
              <option *ngFor="let region of regions" [value]="region">{{region}}</option>
          </select>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <select class="browser-default custom-select" (change)="getCsp($event)"
              formControlName="method">
              <option value="">CSP</option>
              <option *ngFor="let csp of csps" [value]="csp">{{csp}}</option>
          </select>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
          <select class="browser-default custom-select" (change)="getOperator($event)" formControlName="method">
              <option value="">Operator</option>
              <option *ngFor="let users of usersOptionSelect" [value]="users.value">{{users.label}}</option>
          </select>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
        <button class="btn btn-primary" mdbWavesEffect (click)="searchTrans()">
          <mdb-icon fas icon="search"></mdb-icon>
          Search
        </button>
      </div>
    </div>
  </form>

  <!-- Table -->
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" small="true">
          <thead class="trans-head">
            <tr>
              <th class="head">S/N</th>
              <th class="head">REMITTANCE FOR</th>
              <th class="head">CASH AMOUNT</th>
              <th class="head">CARD AMOUNT</th>
              <th class="head">REMITTANCE ID</th>
              <th class="head">STATUS</th>
              <th class="head">APPROVER</th>
              <th class="head">APPROVER'S ROLE</th>             
              <th class="head">REMITTANCE DATE</th>
            </tr>
          </thead>
          <tbody>
            <mdb-spinner class="loading-screen-icon" *ngIf="loading" spinnerType="big" spinnerColor="blue">
            </mdb-spinner>
            <tr *ngFor="let item of remittanceData let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.name}}</td>
              <td style="text-align: center;"> &#x20A6;{{item.cash | number: "1.2-2" }}
                  <p class="cash" style="text-align: center"></p>
              </td>
              <td style="text-align: center;"> &#x20A6;{{item.card | number: "1.2-2" }}
                  <p class="cards" style="text-align: center"></p>
              </td>
              <td><b>{{item.remittanceId}}</b></td>
              <td>
                <mdb-badge class="status" [ngClass]="{
                                              'initialized' : item.status == 'pendingapproval',
                                              'success' : item.status == 'remitted'
                                            }"> {{item.status}}</mdb-badge>
              </td>
              <td>{{item.approver_name}}</td>
              <td>{{item.approver_role}}</td>
              <td style="color: #828282;">{{item.created_at}}</td>
            </tr>
            <strong class="summary-noData" *ngIf="isData == false">No Data Available</strong>
          </tbody>
        </table>
        <pagination [boundaryLinks]="true" [totalItems]="lastPage" [itemsPerPage]="perPage" [(ngModel)]="currentPage"
          [maxSize]="maxSize"  firstText="&laquo;" lastText="&raquo;"></pagination>
         
     
        </div>
      <br>
      
      


    </div>
  </div>



</div>