<div class="container">

  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a class="tabs nav-link" [routerLink]="['/admin-dashboard/kedco/day']">Day</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admin-dashboard/kedco/week']">Week</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/admin-dashboard/kedco/month']">Month</a>
    </li>
  </ul>
   
  <div class="row mt-6">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" style="margin-top: 30px;">
            <select class="browser-default custom-select" (change)="getCsp($event)" formControlName="method">
              <option value="">CSP</option>
              <option *ngFor="let csp of csps" [value]="csp">{{csp}}</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-12 col-xs-12" style="margin-top: 30px;">
            <select class="browser-default custom-select" (change)="getRegion($event)" formControlName="method">
              <option value="">Region</option>
              <option *ngFor="let region of regions" [value]="region">{{region}}</option>
            </select>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: 12px;">
            <mdb-date-picker formControlName="startDate" id="startDate" placeholder="Start Date"
              [options]="myDatePickerOptions"></mdb-date-picker>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6" style="margin-top: 12px;">
            <mdb-date-picker formControlName="endDate" id="endDate" placeholder="End Date"
              [options]="myDatePickerOptions"></mdb-date-picker>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 " style="margin-top: 25px;">
            <mdb-badge class="search" (click)="summarySearch()">
              <mdb-icon fas icon="search"></mdb-icon>
              &nbsp;Search
            </mdb-badge>&nbsp;&nbsp;
            <mdb-badge class="search" (click)="getSummaryReportXlsx()">
                <mdb-icon fas icon="download"></mdb-icon>
                &nbsp;Export
            </mdb-badge>
          </div>
        
         
        </div>
      
      </form>

      

    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <!-- first card -->
          <label class="summary-total-trans" *ngIf="hideDashboardText == false">Today</label>
          <div class="card classic-admin-card">
            <div class="card-body">
              <div class="pull-right" [ngClass]="{
                                                  'positive' : percentChange > 0,
                                                   'negative' : percentChange < 0
                                                 }">{{ percentChange  | percent }}</div>
              <div class="total-percent mt-3">Vs Previous Day</div>
              <p class="summary-total-trans">Total Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{totalAmountCurrent | thousandSuff : 2}}</div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{ totalCountCurrent | thousandSuff }}
                  <br> Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>
          </div>

          <!-- first card -->
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card classic-admin-card">
            <div class="card-body">
              <div class="pull-right summary-successful">
                {{successPercentCurrent  }}%
              </div>
              <p class="summary-card-text">Successful Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{successAmountCurrent | thousandSuff : 2}}
                </div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{successCountCurrent | thousandSuff }}
                  <br> Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card classic-admin-card">
            <div class="card-body">
              <div class="pull-right summary-failed">
                {{failPercentCurrent }}%
              </div>
              <p class="summary-card-text">Failed Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{failAmountCurrent | thousandSuff : 2 }}</div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{failCountCurrent | thousandSuff }}
                  <br> Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" *ngIf="hideDashboardText == false">
      <div class="row">
        <div class="col-12">
          <!-- first card -->
          <label class="summary-total-trans">Yesterday</label>
          <div class="card classic-admin-card">
            <div class="card-body">
              <p class="summary-total-trans">Total Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{previousTotal | thousandSuff : 2 }}</div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{ totalCountPrevious | thousandSuff }}
                  <br> Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>
          </div>

          <!-- first card -->
        </div>
      </div>
      <!--  -->
      <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card classic-admin-card">
            <div class="card-body">
              <div class="pull-right summary-successful">
                {{previousPercentSuccess }}%
              </div>
              <p class="summary-card-text">Successful Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{previousAmountSuccess | thousandSuff : 2}}
                </div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{previousCountSuccess | thousandSuff }}
                  <br>Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="card classic-admin-card">
            <div class="card-body">
              <div class="pull-right summary-failed">
                {{previousPercentFailed | toNumber | number:'1.0-0'}}%
              </div>
              <p class="summary-card-text">Failed Transactions</p> <br>
              <mdb-spinner *ngIf="loading" spinnerType="small" spinnerColor="blue">
              </mdb-spinner>
              <h4 *ngIf="loading == false">
                <div *ngIf="isData == true" class="summary-amount">
                  &#x20A6;{{previousAmountFailed | thousandSuff : 2 }}
                </div>
                <p *ngIf="isData == true" class="summary-card-text">
                  {{previousCountFailed | thousandSuff }}
                  <br>Transactions</p>
              </h4>
              <strong class="summary-noData" *ngIf="isData == false">No Data
                Available</strong>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row mt-5">
  <div class="col-3">
    <label class="summary-total-trans">Top 5 CSPs</label>
    <mdb-card>
      <mdb-card-body [style.height.em]="'24'">
        <mdb-card-text>
            <div class="table-responsive">
          <table mdbTable striped="true" style="display: table;">
            <thead>
              <tr>
                <th class="channel-head" *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let item of elementsTopCsp ">
              <th class="channel-id" scope="row">{{item.name }}</th>
              <td class="channel-total">{{item.total | thousandSuff : 2}}</td>
            </tr>
            </tbody>
            <tbody *ngIf="loading">
              <tr>
                <td style="text-align:center;padding: 5% 20%; background: #fff">
                  <mdb-spinner  class="loading-screen-icon" spinnerType="big" spinnerColor="blue"></mdb-spinner>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isData == false">
              <tr>
                <td class="summary-noData" style=" background: #fff;">
                  <strong>No Data Available</strong>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-3">
    <label class="summary-total-trans">Top 5 Regions</label>
    <mdb-card>
      <mdb-card-body [style.height.em]="'24'" >
        <mdb-card-text>
            <div class="table-responsive">
          <table mdbTable striped="true" responsive="true" style="display: table;">
            <thead>
              <tr>
                <th class="channel-head" *ngFor="let head of headElements" scope="col">{{head}} </th>
              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let item of elementsTopRegions | orderBy: 'total':true ">
              <th class="channel-id" scope="row">{{item.name}}</th>
              <td class="channel-total">{{item.total | thousandSuff : 2}}</td>
            </tr>
            </tbody>
            <tbody *ngIf="loading">
              <tr>
                <td style="text-align:center;padding: 5% 20%; background: #fff">
                  <mdb-spinner class="loading-screen-icon"  spinnerType="big" spinnerColor="blue"></mdb-spinner>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="isData == false">
              <tr>
                <td class="summary-noData" style=" background: #fff;">
                  <strong>No Data Available</strong>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>
  </div>
  <div class="col-3">
    <label class="summary-total-trans">Top 5 Cashiers</label>
    <mdb-card>
        <mdb-card-body [style.height.em]="'24'">
          <mdb-card-text>
              <div class="table-responsive">
            <table mdbTable striped="true" responsive="true" style="display: table;">
              <thead>
                <tr>
                  <th class="channel-head" *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
              </thead>
            <tbody>
              <tr *ngFor="let item of elementsTopCashiers | orderBy: 'total':true ">
                <th class="channel-id" scope="row">{{item.name}}</th>
                <td class="channel-total">{{item.total | thousandSuff : 2}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="loading">
                <tr>
                  <td style="text-align:center;padding: 5% 20%; background: #fff">
                    <mdb-spinner class="loading-screen-icon"  spinnerType="big" spinnerColor="blue"></mdb-spinner>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="isData == false">
                <tr>
                  <td class="summary-noData" style=" background: #fff;">
                    <strong>No Data Available</strong>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </mdb-card-text>
  
        </mdb-card-body>
      </mdb-card>
  </div>

  <div class="col-3">
      <label class="summary-total-trans">Top 5 SalesReps</label>
      <mdb-card>
          <mdb-card-body [style.height.em]="'24'">
            <mdb-card-text>
                <div class="table-responsive">
              <table mdbTable striped="true" responsive="true" style="display: table;">
                <thead>
                  <tr>
                    <th class="channel-head" *ngFor="let head of headElements" scope="col">{{head}} </th>
                  </tr>
                </thead>
              <tbody>
                <tr *ngFor="let item of elementsTopSalesReps | orderBy: 'total':true ">
                  <th class="channel-id" scope="row">{{item.name}}</th>
                  <td class="channel-total">{{item.total | thousandSuff : 2}}</td>
                </tr>
                </tbody>
                <tbody *ngIf="loading">
                  <tr>
                    <td style="text-align:center;padding: 5% 20%; background: #fff">
                      <mdb-spinner class="loading-screen-icon"  spinnerType="big" spinnerColor="blue"></mdb-spinner>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="isData == false">
                  <tr>
                    <td class="summary-noData" style=" background: #fff;">
                      <strong>No Data Available</strong>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </mdb-card-text>
    
          </mdb-card-body>
        </mdb-card>
    </div>

</div>
<br>
</div>


<!-- <div class="row">
  <div class="col-md-4 col-sm-12 col-xs-12">
    <app-today-channels></app-today-channels>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <app-today-product></app-today-product>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <app-today-payment-method></app-today-payment-method>
  </div>
</div> -->