<div class="container">
  <div class="row">

    <div class="col-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="card" [style.height.em]="'64'">
        <div class="card-header">
          <img src="../../../../assets/ItexLogo.png" class="img-fluid mx-auto d-block">
        </div>
        <h5 class="text-center font-weight-bold mt-2">Services Status Report</h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped border-top" small="true">
              <thead *ngIf="responseData1">
                <tr>
                  <th>S/N</th>
                  <th>Services</th>
                  <th>Balance</th>
                  <th [ngStyle]="{'display': 'none'}">Last Deposit</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <mdb-spinner class="loading-icon" *ngIf="isLoading" spinnerType="big" spinnerColor="blue">
                </mdb-spinner>

                <tr *ngFor="let el of responseData1 let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ el.service }}</td>
                  <td>
                    <span class="my-badge my-badge-pill" [ngClass]="{
                                    'badge-danger' : el.IntBalance <= 1000000,
                                    'badge-warning' : el.IntBalance > 1000001 && el.IntBalance < 5000000,
                                    'badge-success' : el.IntBalance > 5000000,
                                    'badge-info' : el.IntBalance == 0
                                  }">{{ el.IntBalance | currency:'NGN':"&#x20A6;":'1.2-2' }}
                    </span>
                  </td>
                  <td [ngStyle]="{'display': 'none'}">{{ el.lastDeposit }}</td>
                  <td>
                    <button data-toggle="modal" data-target="#basicExample" type="button" class="btn btn-sm" [ngClass]="{
                                  'btn-success' : el.status == 'ON',
                                  'btn-danger' : el.status == 'OFF'
                                }" (click)="frame.show()" mdbWavesEffect>{{el.status}}</button>
                    <!-- callSwitch(el.service, el.status) -->
                    <!-- showModal(item) -->
                  </td>
                  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header text-center">
                          <h4 class="modal-title w-100 font-weight-bold">*Comment</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="frame.hide()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body mx-3">
                          <form [formGroup]="editCommentForm">
                            <div class="md-form mb-5">
                              <textarea id="commentForm" formControlName="commentform" class="form-control" placeholder="Leave A Comment"
                                mdbValidate  [ngClass]="{'is-invalid': (editCommentForm.get('commentform').touched ||
                                editCommentForm.get('commentform').dirty) &&
                                !editCommentForm.get('commentform').valid }">
                                <span class="invalid-feedback"></textarea>
                              <!-- <label for="commentForm">Leave A Comment</label> -->
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                          <button mdbBtn color="default" class="waves-light" mdbWavesEffect
                          [disabled]="!editCommentForm.valid && !editCommentForm.dirty"
                            (click)="callSwitch(el.service, el.status); frame.hide()">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
</div>