
/* Rectangle */
#jumbotron {
    background: #FBFBFB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-top: -79px;
  }
  
  .middle{
    padding-top: 5rem;
  }
.new-style-font {
  font-weight: 500;
  color: black;
  font-size: 19px;
  font-style: normal;
}
.pb-15 {
  padding-bottom: 15%
}
button{
  background: #2D9CDB;
  color: white;
}
// button:disabled {
//   cursor: not-allowed;
//   pointer-events: all !important;
// }
